<article class="post box">
	
	<%- partial('partials/post/title', {postTitle: page.title, postPath: page.path}) %>

	<div class="content"><%- page.content %></div>

	<%- partial('partials/post/socialMenu', {url: page.permalink}) %>

	<div class="clearfix"></div>

</article>